@use 'src/styles/mixins.scss' as mixins;
@import "src/styles/vars.scss";

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 52px;
  padding: 12px;

  @include mixins.button($light, $font-18, $background, $blackColor, $blackColor, $background, $greyColor);
}

.key-backspace {
  width: 186px;
}